<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor Inmobiliario - Inicio</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css">
</head>
<body class="bg-green-100">
<!-- Navbar -->
<nav class="bg-green-600 text-white shadow-md py-3">
    <div class="container mx-auto flex justify-between items-center">
        <a th:href="@{/}" class="text-xl font-semibold hover:text-green-200 ml-4">
            Inicio
        </a>
        <div class="flex space-x-6 mr-4">
            <a th:href="@{/servicios}" class="hover:text-green-200 font-medium text-lg">Servicios</a>
            <a th:href="@{/propiedades}" class="hover:text-green-200 font-medium text-lg">Propiedades</a>
            <a th:href="@{/comprar}" class="hover:text-green-200 font-medium text-lg">Comprar</a>
            <a th:href="@{/vender}" class="hover:text-green-200 font-medium text-lg">Vender</a>
            <a th:href="@{/contactos}" class="hover:text-green-200 font-medium text-lg">Contacto</a>
        </div>
    </div>
</nav>

<!-- Main Content -->
<main class="container mx-auto p-4">
    <!-- Central Section -->
    <section class="bg-center bg-cover bg-no-repeat bg-[url('/imagenes/fondo_index.jpg')] bg-gray-700 bg-blend-multiply rounded-lg shadow-lg">
        <div class="px-4 mx-auto max-w-screen-md text-center py-24 lg:py-32">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Gestión Eficiente de Propiedades</h1>
            <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-24">
                Optimiza tus procesos inmobiliarios con nuestra plataforma. Gestiona propiedades, propietarios y clientes de forma centralizada y eficiente.
            </p>
            <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
                <a th:href="@{/servicios}" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300">
                    Explorar Servicios
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
                <a th:href="@{/contactos}" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
                    Contáctanos
                </a>
            </div>
        </div>

        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
            <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8">
                <a th:href="@{/propiedades}" class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-blue-400 mb-2">
                    <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
                        <path d="M11 0H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm8.585 1.189a.994.994 0 0 0-.9-.138l-2.965.983a1 1 0 0 0-.685.949v8a1 1 0 0 0 .675.946l2.965 1.02a1.013 1.013 0 0 0 1.032-.242A1 1 0 0 0 20 12V2a1 1 0 0 0-.415-.811Z"/>
                    </svg>
                    Propiedades
                </a>
                <h1 class="text-gray-900 dark:text-white text-3xl md:text-5xl font-extrabold mb-2">Ver todas las propiedades en venta</h1>
                <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-6">Explora nuestro catálogo de propiedades disponibles. Encuentra la casa o local que mejor se ajuste a tus necesidades.</p>
                <a th:href="@{/propiedades}" class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                    Ver Propiedades
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
            <div class="grid md:grid-cols-2 gap-8">
                <!-- Adquirir Propiedad -->
                <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
                    <a th:href="@{/comprar}" class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-green-400 mb-2">
                        Comprar
                    </a>
                    <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">¿Quieres adquirir una propiedad?</h2>
                    <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">Completa el formulario para que te contactemos y te ayudemos a encontrar la propiedad ideal.</p>
                    <a th:href="@{/comprar}" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Más información
                        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>

                <!-- Vender Propiedad -->
                <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
                    <a th:href="@{vender}" class="bg-purple-100 text-purple-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-purple-400 mb-2">
                        Vender
                    </a>
                    <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">¿Quieres vender una propiedad?</h2>
                    <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">Completa el formulario para registrar tu propiedad en nuestra plataforma y encontrar interesados.</p>
                    <a th:href="@{vender}" class="text-blue-600 dark:text-blue-500 hover:underline font-medium text-lg inline-flex items-center">Más información
                        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>


<!-- Footer -->
<footer class="bg-gray-800 text-white text-center py-4 mt-10">
    <p>© 2025 Gestor Inmobiliario. Todos los derechos reservados.</p>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>
</html>


